# Create dataset with crime type and location

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from datetime import datetime, date, time
import pandas as pd
import numpy as np

In [43]:
data_folder='../../data/'
df = pd.read_csv(data_folder + 'clean_complaint_data.csv', dtype={'CMPLNT_NUM': str})
pd.set_option('display.max_columns', None)
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,geometry,District_Code,District_name,case_duration,year_begin
0,39468181,2008-02-20,07:00:00,2008-02-23,08:00:00,88.0,2008-02-23,107,BURGLARY,221.0,"BURGLARY,RESIDENCE,DAY",COMPLETED,FELONY,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,0,(null),(null),(null),991818.0,191560.0,(null),UNKNOWN,(null),NaN,40.692464,-73.972708,"(40.692464, -73.972708)",PATROL BORO BKLYN NORTH,(null),25-44,WHITE,F,POINT (-73.972708 40.692464),302.0,Fort Greene/Brooklyn Hts,3.0,2008
1,50539499,2008-08-21,22:00:00,2008-08-21,23:00:00,19.0,2008-08-22,109,GRAND LARCENY,438.0,"LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED",COMPLETED,FELONY,MANHATTAN,FRONT OF,BAR/NIGHT CLUB,N.Y. POLICE DEPT,0,(null),(null),(null),997152.0,220300.0,(null),(null),(null),NaN,40.771341,-73.953418,"(40.771341, -73.953418)",PATROL BORO MAN NORTH,(null),45-64,WHITE HISPANIC,F,POINT (-73.953418 40.771341),108.0,Upper East Side,0.0,2008
2,45223390,2008-04-03,03:35:00,2008-04-03,03:50:00,77.0,2008-04-03,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,INSIDE,RESIDENCE - PUBLIC HOUSING,N.Y. HOUSING POLICE,2,(null),(null),3360,1004579.0,183837.0,(null),(null),(null),NaN,40.671245,-73.926713,"(40.671245, -73.926713)",PATROL BORO BKLYN NORTH,(null),25-44,BLACK,F,POINT (-73.926713 40.671245),308.0,Crown Heights North,0.0,2008
3,50594658,2008-08-19,09:00:00,NaN,(null),32.0,2008-08-27,341,PETIT LARCENY,349.0,"LARCENY,PETIT OF LICENSE PLATE",COMPLETED,MISDEMEANOR,MANHATTAN,FRONT OF,STREET,N.Y. POLICE DEPT,0,(null),(null),(null),999965.0,235630.0,(null),UNKNOWN,(null),NaN,40.813412,-73.943226,"(40.813412, -73.943226)",PATROL BORO MAN NORTH,(null),(null),UNKNOWN,M,POINT (-73.943226 40.813412),110.0,Central Harlem,inf,2008
4,44451016,2008-03-10,22:00:00,2008-03-10,22:10:00,67.0,2008-03-11,105,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,FRONT OF,STREET,N.Y. POLICE DEPT,0,(null),(null),(null),999602.0,176145.0,<18,BLACK,M,NaN,40.650142,-73.944674,"(40.650142, -73.944674)",PATROL BORO BKLYN SOUTH,(null),25-44,BLACK,M,POINT (-73.944674 40.650142),317.0,East Flatbush,0.0,2008

In [44]:
# --- Larceny ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OTHER OFFENSES RELATED TO THEF', 'PETIT LARCENY')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('GRAND LARCENY OF MOTOR VEHICLE', 'GRAND LARCENY')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('PETIT LARCENY OF MOTOR VEHICLE', 'PETIT LARCENY')

# --- Harassment ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('HARRASSMENT 2', 'HARASSMENT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('DISORDERLY CONDUCT', 'HARASSMENT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('JOSTLING', 'HARASSMENT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('LOITERING/DEVIATE SEX', 'HARASSMENT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('FRAUDULENT ACCOSTING', 'HARASSMENT')

# --- Assault ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('FELONY ASSAULT', 'ASSAULT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OFFENSES AGAINST THE PERSON', 'ASSAULT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('ASSAULT 3 & RELATED OFFENSES', 'ASSAULT')

# --- Drug Offenses ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('CANNABIS RELATED OFFENSES', 'DANGEROUS DRUGS')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('LOITERING FOR DRUG PURPOSES', 'DANGEROUS DRUGS')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('UNDER THE INFLUENCE OF DRUGS', 'DANGEROUS DRUGS')

# --- Weapons Offenses ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('UNLAWFUL POSS. WEAP. ON SCHOOL', 'DANGEROUS WEAPONS')

# --- Sex Crimes ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('FELONY SEX CRIMES', 'SEX CRIMES')

# --- Fraud ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('FORGERY', 'FRAUDS')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('THEFT-FRAUD', 'FRAUDS')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OFFENSES INVOLVING FRAUD', 'FRAUDS')

# --- Public Order Offenses ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('ADMINISTRATIVE CODE', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('ADMINISTRATIVE CODES', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('NEW YORK CITY HEALTH CODE', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('DISRUPTION OF A RELIGIOUS SERV', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OFFENSES AGAINST PUBLIC SAFETY', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OFFENSES AGAINST PUBLIC ADMINI', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OFF. AGNST PUB ORD SENSBLTY &', 'OFF. AGNST PUB ORDER')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('THEFT OF SERVICES', 'OFF. AGNST PUB ORDER')


# --- Traffic Offenses ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('INTOXICATED/IMPAIRED DRIVING', 'INTOXICATED & IMPAIRED DRIVING')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('OTHER TRAFFIC INFRACTION', 'VEHICLE AND TRAFFIC LAWS')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('UNAUTHORIZED USE OF A VEHICLE', 'VEHICLE AND TRAFFIC LAWS')

# --- Burglary / Trespass ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('CRIMINAL TRESPASS', 'BURGLARY')
df['OFNS_DESC'] = df['OFNS_DESC'].replace("BURGLAR'S TOOLS", 'BURGLARY')

# --- Homicide ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('HOMICIDE-NEGLIGENT,UNCLASSIFIE', 'HOMICIDE-NEGLIGENT')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('HOMICIDE-NEGLIGENT-VEHICLE', 'HOMICIDE-NEGLIGENT')

# --- Child-related ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('ENDAN WELFARE INCOMP', 'OFFENSES RELATED TO CHILDREN')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('CHILD ABANDONMENT/NON SUPPORT', 'OFFENSES RELATED TO CHILDREN')

# --- Optional Cleanup (remove or recode nulls) ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('(null)', 'UNKNOWN')

# --- Kidnapping ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('KIDNAPPING & RELATED OFFENSES', 'KIDNAPPING')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('KIDNAPPING AND RELATED OFFENSES', 'KIDNAPPING')

# --- Others ---
df['OFNS_DESC'] = df['OFNS_DESC'].replace('PROSTITUTION & RELATED OFFENSES', 'PROSTITUTION')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('CRIMINAL MISCHIEF & RELATED OF', 'CRIMINAL MISCHIEF')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('LOITERING/GAMBLING (CARDS, DIC', 'GAMBLING')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('LOITERING', 'GAMBLING')
df['OFNS_DESC'] = df['OFNS_DESC'].replace('LOITERING (BEGGING)', 'GAMBLING')

In [45]:
df['OFNS_DESC'] = df['OFNS_DESC'].replace({
    'PETIT LARCENY': 'Minor Theft',
    'GRAND LARCENY': 'Major Theft',
    'POSSESSION OF STOLEN PROPERTY': 'Stolen Property Possession',
    'ASSAULT': 'Physical Assault',
    'HARASSMENT': 'Verbal or Physical Harassment',
    'CRIMINAL MISCHIEF': 'Vandalism',
    'OFF. AGNST PUB ORDER': 'Public Disturbance',
    'DANGEROUS DRUGS': 'Drug Offenses',
    'DANGEROUS WEAPONS': 'Weapon Possession',
    'VEHICLE AND TRAFFIC LAWS': 'Traffic Violations',
    'BURGLARY': 'Breaking & Entering',
    'FRAUDS': 'Fraud and Forgery',
    'SEX CRIMES': 'Sexual Offenses',
    'RAPE': 'Rape',
    'ARSON': 'Intentional property fire',
    'MURDER & NON-NEGL. MANSLAUGHTER': 'Murder',
    'HOMICIDE-NEGLIGENT': 'Negligent Homicide',
    'GAMBLING': 'Illegal Gambling',
    'KIDNAPPING': 'Kidnapping',
    'OFFENSES RELATED TO CHILDREN': 'Child Abuse/Endangerment',
    'PROSTITUTION': 'Prostitution Offenses'
})

In [46]:
pd.set_option('display.max_colwidth', None)
with pd.option_context('display.max_rows', None):
    print(df['OFNS_DESC'].value_counts())

OFNS_DESC
Minor Theft                             1576553
Physical Assault                        1320390
Verbal or Physical Harassment           1191167
Major Theft                              952839
Vandalism                                875753
Public Disturbance                       618834
Drug Offenses                            456872
Breaking & Entering                      390438
ROBBERY                                  314767
Fraud and Forgery                        256019
MISCELLANEOUS PENAL LAW                  233317
Weapon Possession                        181905
Traffic Violations                       162817
Sexual Offenses                          109809
INTOXICATED & IMPAIRED DRIVING           105254
Stolen Property Possession                42478
Rape                                      25168
Intentional property fire                 19531
UNKNOWN                                   18826
NYS LAWS-UNCLASSIFIED FELONY               9439
OTHER STATE LAWS (NON PENAL LA             8236
Murder                                     7404
Illegal Gambling                           3842
Kidnapping                                 3353
Child Abuse/Endangerment                   2685
Prostitution Offenses                      1649
ALCOHOLIC BEVERAGE CONTROL LAW             1476
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       1166
OTHER STATE LAWS                            574
Negligent Homicide                          358
ESCAPE 3                                    253
ANTICIPATORY OFFENSES                       156
NYS LAWS-UNCLASSIFIED VIOLATION              85
OTHER STATE LAWS (NON PENAL LAW)             15
FORTUNE TELLING                              13
ABORTION                                      7
OFFENSES AGAINST MARRIAGE UNCL                5
Name: count, dtype: int64

In [47]:
df[df['OFNS_DESC'].str.contains('OFFENSES AGAINST PUBLIC A', na=False)]['OFNS_DESC'].unique()

array([], dtype=object)

larceny ~ thief

CRIMINAL MISCHIEF:
- (a) A person is guilty of criminal mischief if he or she:
- (1) Damages tangible property of another purposely, recklessly, or by negligence in the employment of fire, explosives, or other dangerous means; or
- (2) Purposely or recklessly tampers with tangible property of another so as to endanger person or property; or
- (3) Purposely or recklessly causes another to suffer pecuniary loss by deception or threat.
- (b) Criminal mischief is a misdemeanor if the actor purposely causes pecuniary loss in excess of $100, or a petty misdemeanor if he or she purposely or recklessly causes pecuniary loss in excess of $25. Otherwise, criminal mischief is a violation.

Assault VS felony assault:
Misdemeanor assault cases usually involve minimal harm, like bruises, scratches or minor injuries. In contrast, felony assault often results in severe injuries, which may include broken bones, significant disfigurement or even death

Robery VS larceny VS Burglary:
robery = theft + usage of force or threat
larceny = Theft without force or breaking in (e.g., shoplifting)
Burglary = unlawful entry + intent to commit a crime

In [48]:
keep_offenses = [
    'Minor Theft',
    'Major Theft',
    'Stolen Property Possession',
    'Physical Assault',
    'Verbal or Physical Harassment',
    'Vandalism',
    'Public Disturbance',
    'Drug Offenses',
    'Weapon Possession',
    'Traffic Violations',
    'Breaking & Entering',
    'Theft with Force',
    'Fraud and Forgery',
    'Sexual Offenses',
    'Rape',
    'Intentional property fire',
    'Murder',
    'Negligent Homicide',
    'Illegal Gambling',
    'Kidnapping',
    'Child Abuse/Endangerment',
    'Prostitution Offenses'
]

df = df[df['OFNS_DESC'].isin(keep_offenses)]

In [49]:
pd.set_option('display.max_colwidth', None)
with pd.option_context('display.max_rows', None):
    print(df['OFNS_DESC'].value_counts())

OFNS_DESC
Minor Theft                      1576553
Physical Assault                 1320390
Verbal or Physical Harassment    1191167
Major Theft                       952839
Vandalism                         875753
Public Disturbance                618834
Drug Offenses                     456872
Breaking & Entering               390438
Fraud and Forgery                 256019
Weapon Possession                 181905
Traffic Violations                162817
Sexual Offenses                   109809
Stolen Property Possession         42478
Rape                               25168
Intentional property fire          19531
Murder                              7404
Illegal Gambling                    3842
Kidnapping                          3353
Child Abuse/Endangerment            2685
Prostitution Offenses               1649
Negligent Homicide                   358
Name: count, dtype: int64

In [50]:
# Keep only the necessary columns for web mapping
df = df[['District_Code', 'Latitude', 'Longitude', 'year_begin', 'OFNS_DESC', 'District_name']]
df = df.rename(columns={'OFNS_DESC': 'crime_type'})

In [51]:
df = df.dropna(subset=['District_Code'])

In [52]:
# 1. Filter subsets
df_rape = df[df['crime_type'].str.lower() == 'rape']
df_sexual = df[df['crime_type'].str.lower() == 'sexual offenses']

# 2. Define shared columns to compare
compare_cols = ['District_Code', 'Latitude', 'Longitude', 'year_begin']
# Drop duplicates just on the columns we're comparing
df_rape_unique = df_rape[compare_cols].drop_duplicates()
df_sexual_unique = df_sexual[compare_cols].drop_duplicates()

# Merge only unique rows
intersection = pd.merge(df_rape_unique, df_sexual_unique, how='inner')

# Recalculate
percent_rape_in_sexual = len(intersection) / len(df_rape_unique) * 100 if len(df_rape_unique) > 0 else 0
percent_sexual_in_rape = len(intersection) / len(df_sexual_unique) * 100 if len(df_sexual_unique) > 0 else 0

# Output
print(f"🔍 {len(intersection)} unique overlapping rows")
print(f"✅ {percent_rape_in_sexual:.2f}% of unique rape rows are also in sexual offenses")
print(f"✅ {percent_sexual_in_rape:.2f}% of unique sexual offenses are also in rape")

🔍 1380 unique overlapping rows
✅ 100.00% of unique rape rows are also in sexual offenses
✅ 96.30% of unique sexual offenses are also in rape

Too much overlapping, we won t keep both

In [53]:
keep_offenses = [
    'Minor Theft',
    'Major Theft',
    'Stolen Property Possession',
    'Physical Assault',
    'Verbal or Physical Harassment',
    'Vandalism',
    'Public Disturbance',
    'Drug Offenses',
    'Weapon Possession',
    'Traffic Violations',
    'Breaking & Entering',
    'Theft with Force',
    'Fraud and Forgery',
    'Rape',
    'Intentional property fire',
    'Murder',
    'Negligent Homicide',
    'Illegal Gambling',
    'Kidnapping',
    'Child Abuse/Endangerment',
    'Prostitution Offenses'
]

df = df[df['crime_type'].isin(keep_offenses)]

In [54]:
df.head()

,District_Code,Latitude,Longitude,year_begin,crime_type,District_name
0,302.0,40.692464,-73.972708,2008,Breaking & Entering,Fort Greene/Brooklyn Hts
1,108.0,40.771341,-73.953418,2008,Major Theft,Upper East Side
2,308.0,40.671245,-73.926713,2008,Physical Assault,Crown Heights North
3,110.0,40.813412,-73.943226,2008,Minor Theft,Central Harlem
5,112.0,40.855233,-73.929406,2008,Physical Assault,Washington Heights

In [55]:
import os

output_dir = "../data/crimes_by_district"

os.makedirs(output_dir, exist_ok=True)

# Make sure District_Code is string to match your JS expectations
df["District_Code"] = df["District_Code"].apply(lambda x: str(int(float(x))))

# Group by district and save
for district_code, group in df.groupby("District_Code"):
    output_path = os.path.join(output_dir, f"{district_code}.json")
    group.to_json(output_path, orient="records", indent=2)

print(f"✅ Saved {df['District_Code'].nunique()} district files to '{output_dir}'")

✅ Saved 71 district files to '../data/crimes_by_district'

In [56]:
df['District_Code'].unique()

array(['302', '108', '308', '110', '112', '355', '315', '304', '312',
       '111', '311', '107', '204', '106', '314', '316', '318', '205',
       '201', '317', '309', '303', '109', '105', '209', '306', '301',
       '401', '402', '208', '313', '203', '103', '164', '405', '307',
       '207', '403', '211', '212', '414', '202', '356', '406', '206',
       '305', '226', '404', '484', '480', '410', '407', '409', '227',
       '210', '481', '482', '408', '228', '412', '411', '413', '483',
       '501', '502', '310', '102', '104', '503', '101', '595'],
      dtype=object)

In [57]:
df['District_Code'].isna().sum()

np.int64(0)

In [58]:
df.head()

,District_Code,Latitude,Longitude,year_begin,crime_type,District_name
0,302,40.692464,-73.972708,2008,Breaking & Entering,Fort Greene/Brooklyn Hts
1,108,40.771341,-73.953418,2008,Major Theft,Upper East Side
2,308,40.671245,-73.926713,2008,Physical Assault,Crown Heights North
3,110,40.813412,-73.943226,2008,Minor Theft,Central Harlem
5,112,40.855233,-73.929406,2008,Physical Assault,Washington Heights

# Create dataset with economical and general information

In [59]:
df_eco=pd.read_csv(data_folder+'eco_data.csv')
df_eco.head()

  District  Year  individuals_below_FPL  Employement_pop_ratio  District_Code
0  Astoria  2005                0.18347                  0.593            401
1  Astoria  2006                0.17182                  0.592            401
2  Astoria  2007                0.16717                  0.603            401
3  Astoria  2008                0.16424                  0.638            401
4  Astoria  2009                0.15914                  0.608            401

In [97]:
# Assuming df_eco and df are your two DataFrames
df_eco['District_Code'] = df_eco['District_Code'].astype(int)
df['District_Code'] = df['District_Code'].astype(int)

# Extract unique District_Code values from both
eco_codes = set(df_eco['District_Code'].unique())
df_codes = set(df['District_Code'].unique())

# Find missing codes
missing_in_df = eco_codes - df_codes
missing_in_eco = df_codes - eco_codes

print("District_Code in df_eco but not in df:", missing_in_df)
print("District_Code in df but not in df_eco:", missing_in_eco)

District_Code in df_eco but not in df: set()
District_Code in df but not in df_eco: {np.int64(480), np.int64(481), np.int64(226), np.int64(355), np.int64(164), np.int64(356), np.int64(484), np.int64(227), np.int64(482), np.int64(228), np.int64(483), np.int64(595)}

In [100]:
district_code_map = {
    'Battery Park/Tribeca': 101, 'Greenwich Village': 102, 'Lower East Side': 103,
    'Chelsea/Clinton': 104, 'Midtown Business District': 105, 'Murray Hill/Stuyvesant': 106,
    'Upper West Side': 107, 'Upper East Side': 108, 'Manhattanville': 109, 'Central Harlem': 110,
    'East Harlem': 111, 'Washington Heights': 112, 'Mott Haven': 201, 'Hunts Point': 202,
    'Morrisania': 203, 'Concourse/Highbridge': 204, 'University Heights': 205, 'East Tremont': 206,
    'Bedford Park': 207, 'Riverdale': 208, 'Unionport/Soundview': 209, 'Throgs Neck': 210,
    'Pelham Parkway': 211, 'Williamsbridge': 212, 'Williamsburg/Greenpoint': 301,
    'Fort Greene/Brooklyn Hts': 302, 'Bedford Stuyvesant': 303, 'Bushwick': 304,
    'East New York': 305, 'Park Slope': 306, 'Sunset Park': 307, 'Crown Heights North': 308,
    'Crown Heights South': 309, 'Bay Ridge': 310, 'Bensonhurst': 311, 'Borough Park': 312,
    'Coney Island': 313, 'Flatbush/Midwood': 314, 'Sheepshead Bay': 315, 'Brownsville': 316,
    'East Flatbush': 317, 'Canarsie': 318, 'Astoria': 401, 'Sunnyside/Woodside': 402,
    'Jackson Heights': 403, 'Elmhurst/Corona': 404, 'Ridgewood/Glendale': 405,
    'Rego Park/Forest Hills': 406, 'Flushing': 407, 'Fresh Meadows/Briarwood': 408,
    'Woodhaven': 409, 'Howard Beach': 410, 'Bayside': 411, 'Jamaica/St. Albans': 412,
    'Queens Village': 413, 'The Rockaways': 414, 'St. George': 501, 'South Beach': 502,
    'Tottenville': 503, 'Bronx': 55, 'Brooklyn': 56, 'Manhattan': 64,
    'Queens': 82, 'Staten Island': 95, 'New York City': 99, 'Central Park': 164, 'Van Cortlandt Park': 226, 'Botanique Gardens Park': 227, 'Pelham Bay Park': 228,
    'Flushing Meadows Park':481, 'Highland Park': 482, 'Airpoprt':483, 'Jamaica Bay Park': 484, 'Barren island':356, 'Prospect Park':355, 'Midland Beach': 595,
    'La Guardia airport': 480
}

In [113]:
df_eco_by_district = df_eco.groupby('District_Code').agg(
                    individuals_below_FPL_median = ('individuals_below_FPL', 'median'),
                    individuals_below_FPL_mean = ('individuals_below_FPL', 'mean'),
                    individuals_below_FPL_std = ('individuals_below_FPL', 'std'),
                    Employement_pop_ratio_median = ('Employement_pop_ratio', 'median'),
                    Employement_pop_ratio_mean = ('Employement_pop_ratio', 'mean'),
                    Employement_pop_ratio_std = ('Employement_pop_ratio', 'std'),
).reset_index()

df_eco_by_district.head()

,District_Code,individuals_below_FPL_median,individuals_below_FPL_mean,individuals_below_FPL_std,Employement_pop_ratio_median,Employement_pop_ratio_mean,Employement_pop_ratio_std
0,101,0.07962,0.082432,0.013163,0.7190,0.695889,0.106929
1,102,0.07962,0.082432,0.013163,0.7190,0.703876,0.074474
2,103,0.26000,0.263308,0.024709,0.5460,0.541882,0.016074
3,104,0.13131,0.130939,0.013761,0.7075,0.690845,0.070434
4,105,0.13027,0.127174,0.015678,0.7075,0.677218,0.123798

In [114]:
# Normalize all district codes in the DataFrame to plain Python int
district_codes_in_df = set(df['District_Code'].apply(int).unique())

# Normalize dictionary keys to int too, if they're not already
district_codes_in_dict = set(map(int, district_code_map.values()))

# Find missing district codes
missing_district_codes = district_codes_in_df - district_codes_in_dict

print("District codes not in the dictionary:", missing_district_codes)

District codes not in the dictionary: set()

In [115]:
# Step 1: Count crimes by offense and district
crime_counts = df.groupby(['District_Code', 'crime_type']).size().reset_index(name='count')

# Step 2: Get top 5 offenses per district
top5 = (
    crime_counts.sort_values(['District_Code', 'count'], ascending=[True, False])
    .groupby('District_Code')
    .head(5)
)

# Step 3: Aggregate total crimes per district
total_crimes = (
    crime_counts.groupby('District_Code')['count']
    .sum()
    .reset_index(name='total_crimes')
)

# Step 4: Turn top 5 into a single dict per district
main_crimes = (
    top5.groupby('District_Code')
    .apply(lambda g: dict(zip(g['crime_type'], g['count'])))
    .reset_index(name='main_crimes')
)

# Step 5: Merge with total crimes
final_df = pd.merge(main_crimes, total_crimes, on='District_Code').sort_values('District_Code')

/var/folders/6p/rkp18c251018r0zffr2q98rc0000gn/T/ipykernel_470/3317228892.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: dict(zip(g['crime_type'], g['count'])))

In [116]:
final_df["District"] = final_df["District_Code"].map(district_code_map)

In [117]:
final_df.head()

,District_Code,main_crimes,total_crimes,District
0,101,"{'Minor Theft': 32677, 'Major Theft': 15698, 'Verbal or Physical Harassment': 10315, 'Physical Assault': 9108, 'Public Disturbance': 8506}",97937,NaN
1,102,"{'Minor Theft': 54172, 'Major Theft': 35292, 'Physical Assault': 13733, 'Verbal or Physical Harassment': 12463, 'Vandalism': 11735}",159258,NaN
2,103,"{'Minor Theft': 42134, 'Physical Assault': 29631, 'Major Theft': 27617, 'Verbal or Physical Harassment': 25436, 'Vandalism': 21022}",197414,NaN
3,104,"{'Minor Theft': 31594, 'Major Theft': 27514, 'Verbal or Physical Harassment': 19301, 'Physical Assault': 18921, 'Vandalism': 10884}",143598,NaN
4,105,"{'Minor Theft': 111045, 'Major Theft': 73979, 'Physical Assault': 27720, 'Verbal or Physical Harassment': 24932, 'Public Disturbance': 15984}",309151,NaN

In [83]:
final_df['District_Code'] = final_df['District_Code'].astype(int)
df_eco_by_district['District_Code'] = df_eco_by_district['District_Code'].astype(int)

data_district_df = pd.merge(final_df, 
                            df_eco_by_district, 
                            on='District_Code',
                            how='outer')

In [118]:
data_district_df.head(2)

,District_Code,main_crimes,total_crimes,District,individuals_below_FPL_median,individuals_below_FPL_mean,individuals_below_FPL_std,Employement_pop_ratio_median,Employement_pop_ratio_mean,Employement_pop_ratio_std
0,101,"{'Minor Theft': 32677, 'Major Theft': 15698, 'Verbal or Physical Harassment': 10315, 'Physical Assault': 9108, 'Public Disturbance': 8506}",97937,Battery Park/Tribeca,0.07962,0.082432,0.013163,0.719,0.695889,0.106929
1,102,"{'Minor Theft': 54172, 'Major Theft': 35292, 'Physical Assault': 13733, 'Verbal or Physical Harassment': 12463, 'Vandalism': 11735}",159258,Greenwich Village,0.07962,0.082432,0.013163,0.719,0.703876,0.074474

In [85]:
data_district_df.isna().sum()

District_Code                    0
main_crimes                      0
total_crimes                     0
District                        12
individuals_below_FPL_median    12
individuals_below_FPL_mean      12
individuals_below_FPL_std       12
Employement_pop_ratio_median    12
Employement_pop_ratio_mean      12
Employement_pop_ratio_std       12
dtype: int64

In [89]:
data_district_df['District_Code'].unique()

array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 164,
       201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 226,
       227, 228, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 355, 356, 401, 402, 403, 404,
       405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 480, 481, 482,
       483, 484, 501, 502, 503, 595])

In [88]:
df['District_Code'].unique()

array(['302', '108', '308', '110', '112', '355', '315', '304', '312',
       '111', '311', '107', '204', '106', '314', '316', '318', '205',
       '201', '317', '309', '303', '109', '105', '209', '306', '301',
       '401', '402', '208', '313', '203', '103', '164', '405', '307',
       '207', '403', '211', '212', '414', '202', '356', '406', '206',
       '305', '226', '404', '484', '480', '410', '407', '409', '227',
       '210', '481', '482', '408', '228', '412', '411', '413', '483',
       '501', '502', '310', '102', '104', '503', '101', '595'],
      dtype=object)

In [98]:
import os

output_dir = "../data/data_by_district"
os.makedirs(output_dir, exist_ok=True)

# Make sure District_Code is string
data_district_df["District_Code"] = data_district_df["District_Code"].apply(lambda x: str(int(float(x))))

# Group by district and save
for district_code, group in data_district_df.groupby("District_Code"):
    output_path = os.path.join(output_dir, f"{district_code}.json")
    group.to_json(output_path, orient="records", indent=2)

print(f"✅ Saved {data_district_df['District_Code'].nunique()} district files to '{output_dir}'")

✅ Saved 71 district files to '../data/data_by_district'