# Load and create dataset for JS

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from datetime import datetime, date, time

In [6]:
data_folder='../../data/'
website_data_folder='../data/website_data/'
df = pd.read_csv(data_folder + 'clean_complaint_data.csv', dtype={'CMPLNT_NUM': str})
pd.set_option('display.max_columns', None)
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,geometry,District_Code,District_name,case_duration,year_begin
0,39468181,2008-02-20,07:00:00,2008-02-23,08:00:00,88.0,2008-02-23,107,BURGLARY,221.0,"BURGLARY,RESIDENCE,DAY",COMPLETED,FELONY,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,0,(null),(null),(null),991818.0,191560.0,(null),UNKNOWN,(null),NaN,40.692464,-73.972708,"(40.692464, -73.972708)",PATROL BORO BKLYN NORTH,(null),25-44,WHITE,F,POINT (-73.972708 40.692464),302.0,Fort Greene/Brooklyn Hts,3.0,2008
1,50539499,2008-08-21,22:00:00,2008-08-21,23:00:00,19.0,2008-08-22,109,GRAND LARCENY,438.0,"LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED",COMPLETED,FELONY,MANHATTAN,FRONT OF,BAR/NIGHT CLUB,N.Y. POLICE DEPT,0,(null),(null),(null),997152.0,220300.0,(null),(null),(null),NaN,40.771341,-73.953418,"(40.771341, -73.953418)",PATROL BORO MAN NORTH,(null),45-64,WHITE HISPANIC,F,POINT (-73.953418 40.771341),108.0,Upper East Side,0.0,2008
2,45223390,2008-04-03,03:35:00,2008-04-03,03:50:00,77.0,2008-04-03,106,FELONY ASSAULT,109.0,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,INSIDE,RESIDENCE - PUBLIC HOUSING,N.Y. HOUSING POLICE,2,(null),(null),3360,1004579.0,183837.0,(null),(null),(null),NaN,40.671245,-73.926713,"(40.671245, -73.926713)",PATROL BORO BKLYN NORTH,(null),25-44,BLACK,F,POINT (-73.926713 40.671245),308.0,Crown Heights North,0.0,2008
3,50594658,2008-08-19,09:00:00,NaN,(null),32.0,2008-08-27,341,PETIT LARCENY,349.0,"LARCENY,PETIT OF LICENSE PLATE",COMPLETED,MISDEMEANOR,MANHATTAN,FRONT OF,STREET,N.Y. POLICE DEPT,0,(null),(null),(null),999965.0,235630.0,(null),UNKNOWN,(null),NaN,40.813412,-73.943226,"(40.813412, -73.943226)",PATROL BORO MAN NORTH,(null),(null),UNKNOWN,M,POINT (-73.943226 40.813412),110.0,Central Harlem,inf,2008
4,44451016,2008-03-10,22:00:00,2008-03-10,22:10:00,67.0,2008-03-11,105,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,FELONY,BROOKLYN,FRONT OF,STREET,N.Y. POLICE DEPT,0,(null),(null),(null),999602.0,176145.0,<18,BLACK,M,NaN,40.650142,-73.944674,"(40.650142, -73.944674)",PATROL BORO BKLYN SOUTH,(null),25-44,BLACK,M,POINT (-73.944674 40.650142),317.0,East Flatbush,0.0,2008

In [7]:
#display all unique element without truncation
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)
display(df['PARKS_NM'].unique())

array(['(null)', 'FLUSHING MEADOWS CORONA PARK', 'HOFFMAN PARK', ...,
       'SOUTHERN FIELDS', 'GARDEN AT BEACH 36TH STREET', 'PEACE PARK'],
      shape=(1277,), dtype=object)

In [8]:
df_eco=pd.read_csv(data_folder+'eco_data.csv')
df_eco.head()

  District  Year  individuals_below_FPL  Employement_pop_ratio  District_Code
0  Astoria  2005                0.18347                  0.593            401
1  Astoria  2006                0.17182                  0.592            401
2  Astoria  2007                0.16717                  0.603            401
3  Astoria  2008                0.16424                  0.638            401
4  Astoria  2009                0.15914                  0.608            401

## Counts

In [13]:
df_eco_by_district = df_eco.groupby('District_Code').agg(
                    District = ('District', 'first'),
                    individuals_below_FPL_median = ('individuals_below_FPL', 'median'),
                    #individuals_below_FPL_std = ('individuals_below_FPL', 'std'),
                    Employement_pop_ratio_median = ('Employement_pop_ratio', 'median'),
                    #Employement_pop_ratio_std = ('Employement_pop_ratio', 'std'),
).reset_index()

df_eco_by_district.head()

,District_Code,District,individuals_below_FPL_median,Employement_pop_ratio_median
0,101,Battery Park/Tribeca,0.07962,0.7190
1,102,Greenwich Village,0.07962,0.7190
2,103,Lower East Side,0.26000,0.5460
3,104,Chelsea/Clinton,0.13131,0.7075
4,105,Midtown Business District,0.13027,0.7075

In [14]:
crime_counts = df.groupby(['OFNS_DESC', 'District_Code']).size().reset_index(name='count')
crime_counts.head(10)

# merge the two dataframes on District_Code
df_merged = pd.merge(df_eco_by_district, crime_counts, on='District_Code', how='left')
df_merged.head()

,District_Code,District,individuals_below_FPL_median,Employement_pop_ratio_median,OFNS_DESC,count
0,101,Battery Park/Tribeca,0.07962,0.719,(null),462
1,101,Battery Park/Tribeca,0.07962,0.719,ADMINISTRATIVE CODE,84
2,101,Battery Park/Tribeca,0.07962,0.719,AGRICULTURE & MRKTS LAW-UNCLASSIFIED,1
3,101,Battery Park/Tribeca,0.07962,0.719,ALCOHOLIC BEVERAGE CONTROL LAW,2
4,101,Battery Park/Tribeca,0.07962,0.719,ANTICIPATORY OFFENSES,9

## GPS position per district

In [11]:
df_GPS=df.groupby(['District_Code', 'Latitude', 'Longitude'])
df_GPS = df_GPS.size().reset_index(name='count')
df_GPS

        District_Code   Latitude  Longitude  count
0               101.0  40.684053 -74.023934      1
1               101.0  40.689348 -74.013137      4
2               101.0  40.690934 -74.020666      9
3               101.0  40.692596 -74.017083      3
4               101.0  40.692663 -74.014765      2
...               ...        ...        ...    ...
129049          595.0  40.605106 -74.059508      5
129050          595.0  40.605601 -74.059876      1
129051          595.0  40.605983 -74.060154      1
129052          595.0  40.606446 -74.059022      2
129053          595.0  40.606562 -74.058740      2

[129054 rows x 4 columns]

In [12]:
# convert df_GPS to a csv
df_GPS.to_csv(website_data_folder + 'GPS.csv', index=False)